<div class="row">
  <div id="top_space_div" class="col-md-12">
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-md-push-3">
    <md-expansion-panel>
    <md-expansion-panel-header>
        JOIN
    </md-expansion-panel-header>

  <h2>Put something here</h2>
  </md-expansion-panel>
  </div>

  <div class="col-md-3 col-md-push-3">
    <md-expansion-panel>
    <md-expansion-panel-header>
        LOGIN
    </md-expansion-panel-header>

  <h2>Put something here</h2>
  </md-expansion-panel>
  </div>
</div>
