#top_space_div{
  height: 22vw;
}

#sign_up{
  margin-left:  30%;
  font-family: helvetica;
  font-weight: bold;
  font-size: 3vh;
  color: Teal;
}
#join_btn{
  background-color: Teal;
  color: white;
  margin-left:  60%;
}

#sign_in{
  margin-left:  30%;
  font-family: helvetica;
  font-weight: bold;
  font-size: 3vh;
  color: Grey;
}
#login_btn{
  background-color: Grey;
  color: white;
  margin-left:  60%;
}
