<div class="row">
  <div id="top_space_div" class="col-md-12">
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-md-push-3">
    <mat-expansion-panel hideToggle="True">
      <mat-expansion-panel-header>
          <span id="sign_up" >Sign Up</span>
      </mat-expansion-panel-header>

      <form class="example-form">
        <mat-form-field>
          <input matInput name="signUsername" placeholder="Username" [(ngModel)]="signUsername" maxlength="9">
        </mat-form-field>
        <mat-error *ngIf="duplicateUsername">
        Username already exists!
        </mat-error>
        <mat-form-field>
          <input matInput name="signPassword" type="password" placeholder="Password" [(ngModel)]="signPassword">
        </mat-form-field>
        <mat-form-field>
          <input matInput name="confirmPassword" type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword">
        </mat-form-field>
        <mat-error *ngIf="passwordMismatch">
        Passwords don't match!
        </mat-error>
      </form>
      <button id="join_btn" mat-raised-button (click)="signUp()">Join</button>
    </mat-expansion-panel>
  </div>

  <div class="col-md-3 col-md-push-3">
    <mat-expansion-panel hideToggle="True">
    <mat-expansion-panel-header>
        <span id="sign_in" >Sign In</span>
    </mat-expansion-panel-header>

    <form class="example-form">
    <mat-form-field>
      <input matInput name="loginUsername" type="password" placeholder="Username" [(ngModel)]="loginUsername">
    </mat-form-field>
    <mat-form-field>
      <input matInput name="loginPassword" type="password" placeholder="Password" [(ngModel)]="loginPassword">
    </mat-form-field>
    <mat-error *ngIf="wrongDetails">
    Check username and password.
    </mat-error>
  </form>
  <button id="login_btn" mat-raised-button (click)="logIn()">Log In</button>
  </mat-expansion-panel>
  </div>
</div>
