<div class="row">
  <div id="top_space_div" class="col-md-12">
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-md-push-3">
    <md-expansion-panel hideToggle="True">
    <md-expansion-panel-header>
        <span id="sign_up" >Sign Up</span>
    </md-expansion-panel-header>

    <form class="example-form">
    <md-form-field>
      <input mdInput placeholder="Username">
    </md-form-field>
    <md-form-field>
      <input mdInput placeholder="Password">
    </md-form-field>
  </form>
  <button id="join_btn" md-raised-button>Join</button>
  </md-expansion-panel>
  </div>

  <div class="col-md-3 col-md-push-3">
    <md-expansion-panel hideToggle="True">
    <md-expansion-panel-header>
        <span id="sign_in" >Sign In</span>
    </md-expansion-panel-header>

    <form class="example-form">
    <md-form-field>
      <input mdInput placeholder="Username">
    </md-form-field>
    <md-form-field>
      <input mdInput placeholder="Password">
    </md-form-field>
  </form>
  <button id="login_btn" md-raised-button>Log In</button>
  </md-expansion-panel>
  </div>
</div>
