nav{
  border-radius: 0px;
  background-color: DarkGray;
  border: 0px;
}
.navbar-right{
  margin-top: 0.5%;
  margin-right: 0.5%;
  color: white;
}

mat-sidenav-container{
  height: 600px;
  background-color: rgba(255, 255, 255, 0);
}

#sidenav_btn{
  background-color: GoldenRod;
  position: fixed;
  top: 50%;
  left: 44%;
  font-size: 152%;
  z-index: 2;
}
