<nav class="navbar navbar-default">
<button md-button color="warn" class="navbar-right" >Log Out</button>
</nav>

<div>
  <md-sidenav-container>
    <md-sidenav #sidenav style="background-color:#f8f8f8; height: 90%;">
      <md-nav-list>
        <md-list-item style="width:200px;">
         Yes
        </md-list-item >
      </md-nav-list>
    </md-sidenav>

    <button id="sidenav_btn" type="button" md-button (click)="sidenav.open()">
      Get Started!
    </button>
    <app-chat></app-chat>
  </md-sidenav-container>
</div>
