<nav class="navbar navbar-default">
<button mat-button color="warn" class="navbar-right" (click)="logOut()" >Log Out</button>
</nav>

<div>
  <mat-sidenav-container>
    <mat-sidenav #sidenav style="background-color:#f8f8f8; height: 90%;">
      <mat-nav-list>
        <mat-list-item style="width:200px;" *ngFor="let user of users" (click)="showMsgs($event)" >
         {{ user }}
        </mat-list-item >
      </mat-nav-list>
    </mat-sidenav>

    <button id="sidenav_btn" type="button" mat-button (click)="sidenav.open()">
      Contacts
    </button>
    <h1>Channels!</h1>
    <app-chat *ngIf="showChat" [selectedUser]="selectedUser"></app-chat>
  </mat-sidenav-container>
</div>
