<div class="row">
  <div class="col-md-6 col-md-push-3">
    <md-card class="example-card">
      <md-card-header>

        <md-card-title>{{ selectedUser }}</md-card-title>
      </md-card-header>

      <md-card-content >
        <div id="cont_div">

          <div *ngFor="let msg of fetchedMsgs">
            <div id="sent_div" *ngIf="msg.type == 'sent'">
                {{ msg.body }}
            </div>

            <div id="received_div" *ngIf="msg.type == 'received'">
                {{ msg.body }}
            </div>

          </div>
        </div>
      </md-card-content>
      <md-form-field><input mdInput></md-form-field>
    <button md-mini-fab color="primary">
      <i class="material-icons">send</i>
    </button>
    </md-card>

  </div>
</div>
