<div class="row">
  <div class="col-md-6 col-md-push-3">
    <mat-card class="example-card">
      <mat-card-header>

        <mat-card-title>{{ selectedUser }}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div id="cont_div">

          <div *ngFor="let msg of fetchedMsgs">
            <div class="sent_div" *ngIf="msg.type == 'sent'" style.width.%="{{ msg.width }}" style.margin-left.%="{{ msg.margin }}">
              {{ msg.body }}
            </div>

            <div class="received_div" *ngIf="msg.type == 'received'" style.width.%="{{ msg.width }}">
              {{ msg.body }}
            </div>

          </div>
          <div id="latest_msg_div">

          </div>
        </div>
      </mat-card-content>
      <mat-form-field><input matInput (keypress)="clickEnter($event)" [(ngModel)]="textMsg"></mat-form-field>
      <button mat-mini-fab color="primary" (click)="send()">
      <i class="material-icons">send</i>
    </button>
    </mat-card>

  </div>
</div>
