.example-card{
  height: 600px;
}

#cont_div{
  height: 460px;
  background-color: #f8f8f8;
  overflow: scroll;
}

md-form-field{
  width: 92%;
}

#sent_div{
  background-color: khaki;
  color: black;
  padding: 5px;
  border-radius: 5px 0px 0px 5px;

}

#received_div{
  background-color: navy;
  color: white;
  margin-left: 1%;
  border-radius: 0px 5px 5px 0px;
}
